h3{
  color: black; //svaki h2 je ce biti crn
}
li{
  color: white; // svaka lista ce biti bela
}
a:link{
  text-decoration: none; //Opcije za link SR Gold za povratak
  color: white;
}
a:visited{
  color: white; //Da bi SR Gold ostalo iste boje kad se jednom vratis
}
a:hover{
  color: #FDD017; //da bi SR Gold promenilo boju kad predjes preko njega
}
a:active{
  color: black; //SR Gold menja boju u trenutku klika
}
#heder{
  margin: -25px 0px 50px -10px;
  padding: 20px;
	background-color: rgb(0, 0, 120);
	height: 50px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}
#naslov{
  	text-align: center;
	  color: #FDD017;
}
body{
	background-color: white;
  background-image: url("../sd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Quicksand;
}
#block1{
  clear: right;
  float: right;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 100px;
  border-radius: 10px;
  padding: 10px;
