p{
  color: #A9A9A9;
}
h3{
  color: Black;
}
li{
  color: #A9A9A9;
}
a:link{
  text-decoration: none;
  color: #A9A9A9;
}
a:visited{
  color: #A9A9A9;
}
a:hover{
  color: #FDD017;
}
a:active{
  color: Black;
}
header{
  margin: -25px 0px 50px -10px;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.3);
	height: 50px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid grey;
}
#dugmehedpa{
  float: left;
  border-radius: 10px;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
#dugmehedpatxt{
  color: #A9A9A9;
}
#dugmehedko{

  float: right;
  border-radius: 10px;
  margin-top: 12px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: top;
}
#dugmehedkotxt{
  color: #A9A9A9;
  vertical-align: middle;
}
#dugmehedc{

  float: right;
  border-radius: 10px;
  margin-top: 12px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: top;
}
#dugmehedctxt{
  color: #A9A9A9;
  vertical-align: middle;
}
#dugmehedp{
  float: left;
  border-radius: 10px;
  margin-top: 12px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: top;
}
#dugmehedptxt{
  color: #A9A9A9;
  vertical-align: middle;
}
#naslov{
  	text-align: center;
	  color: #FDD017;
}
body{
	background-color: white;
  background-image: url("./light_checkered_tiles.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Quicksand;
}
#block1{
  clear: right;
  float: right;
  background-color: rgb(255, 255, 255, 0.4);
  color: Black;
  width: 70%;
  height: 70%;
  border: 1px solid Black;
  margin-top: 100px;
  padding: 10px;
}
#block2{
  clear: left;
  float: left;
  width: 20%;
  height: 70%;
  border: 1px solid Black;
  background-color: rgb(255, 255, 255, 0.4);
  margin-top: 100px;
  position: fixed;
  padding: 10px;
}
#block404{
  clear: right;
  float: right;
  width: 97%;
  height: 70%;
  border: 1px solid Black;
  background-color: rgb(255, 255, 255, 0.4);
  margin-top: 100px;
  padding: 10px;
}
