#heder{
  margin: -25px 0px 50px -10px;
  padding: 20px;
	background-color: white;
	height: 50px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}
#dugmehedpa{
  float: left;
  border-radius: 10px;
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
#dugmehedpatxt{
  color: black;
}
#dugmehedp{

  float: right;
  border-radius: 10px;
  margin-top: 12px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: top;
}
#dugmehedptxt{
  color: black;
  vertical-align: middle;
}
#naslov{
  	text-align: center;
	  color: #FDD017;
}
body{
	background-color: black;
  background-image: url("./afs.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
#block1{
  clear: both;
  border: 1px solid Black;
  background-color: White;
}
