#heder{
  margin: -25px 0px 50px 0px;
  padding: 20px;
	background-color: #0000A0;
	height: 50px;
  position: fixed;
  width: 100%;
}
#dugmehedpa{
  border: 2px solid black;
  background-color: #800000;
  float: left;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#dugmehedpatxt{
  color: #C0C0C0;
}
#dugmehedp{
  border: 2px solid black;
  background-color: #800000;
  float: right;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: top;
}
#dugmehedptxt{
  color: #C0C0C0;
}
#naslov{
  	text-align: center;
	  color: #FFA812;
}
body{
	background-color: black;
  background-image: url("./afs.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}