p{
  color: white;
}
h3{
  color: white;
}
li{
  color: white;
}
a:link{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
a:hover{
  color: #FDD017;
}
a:active{
  color: black;
}
#heder{
  margin: -25px 0px 50px -10px;
  padding: 20px;
	background-color: rgb(0, 0, 120);
	height: 50px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}
#naslov{
  	text-align: center;
	  color: #FDD017;
}
body{
	background-color: white;
  background-image: url("./sd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Quicksand;
}
#block1{
  clear: right;
  float: right;
  width: 100%;
  height: 70%;
  border: 1px solid Black;
  background-color: rgb(255, 128, 0);
  margin-top: 100px;
  border-radius: 10px;
  padding: 10px;
